@model WebSoatVeOnline.Models.DonHang

@{
    ViewBag.Title = "Booking";
    Layout = "~/Views/Layout/UserLayout.cshtml";
}

<h2 style="color:green; margin-top:20px;">CẢM ƠN VÌ ĐÃ ĐẶT HÀNG, CHÚNG TÔI SẼ LIÊN HỆ CHO BẠN SỚM NHẤT CÓ THỂ !</h2>


