
@{
    ViewBag.Title = "DangNhap";
    Layout = "~/Views/Layout/UserLayout.cshtml";
}

<h2>
    Đăng nhập
</h2>
<p style="color:red;">@ViewBag.ThongBao</p>
@using (Html.BeginForm())
{   <span>Tài khoản</span> <br />
    @Html.TextBox("txtTaiKhoan");
    <br />
    <span>Mật khẩu</span> <br />
    <input name="txtMatKhau" type="text" />
    <br />
    <input type="submit" value="Đăng nhập" id="btnSubmit" name="btnSubmit" />

}

